@import "./styles/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {

  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #070707;
}

h1 {
  background-color: #ffffff;
  font-weight: 700;
  font-size: 48px;
  color: #070707;  
}

body {
  width: 970px;
  background-color: #ffffff;
  margin: 0 auto;
}

main {
 
  width: 970px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 34px;
  color: #070707;
  text-align: center;
}
a. a.active {
  color: #070707;
} 
p. a {
  line-height: 27,55px;
}
.header {
  background-color: #f1efef;
  width: 970px;
  margin: 0 auto;
  text-align: center;

}

.wrapper {
  background-color: #ffffff;
  max-width: 970px;
  margin: 0 auto;
}

.header-nav {
  border-bottom: 1px solid #828282;
}

.header-nav ul {
  display: flex;
  justify-content: center;
}

.header-nav ul li:: not(:last-of-type) {

}

.header-nav {
  text-decoration: unset;
}

.head li {
  display: inline;
  margin-top: 27, 5px;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-decoration: unset;
  color: #F6F6F6;
}

.first-screen h1 {

  text-align: left;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;

}
.first-screen {
  background-color: #ffffff;
  margin-bottom: 30px;
}
.about-me {
  background: #F6F6F6;
  display: flex;
  text-align: center;
}
.about {
  background-color: #F6F6F6;
}
.about p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.about li {
  text-align: center;
}

.pages-store {
  margin: 150px -40px;
  width: 970px;

}

.product-list p {
  text-align: justify;
}

.pps {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

}

.icon {
  display: flex;
  text-align: center;
 
  margin-top: 10px;
  margin-bottom: 200px;
}

.button {
  width: 180px;
  height: 44px;
  background: #070707;
  border-radius: 22px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  color: #ffffff;
  margin: 30px;
  cursor: pointer;
}
.button:hover {
  background: #ffffff;
  color: #070707;    
}

.contacts {
  font-family: Open Sans;
  font-size: 34px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  color: #070707;

}

.portfolio {
  font-family: Open Sans;
  font-size: 34px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  color: #070707;
  margin-top: 5px;
  margin-bottom: 20px;
}
.product {
  background-color: #ffffff;
  text-align: justify;
}
.skills {
  background-color: #ffffff;
  font-family: Open Sans;
  font-size: 34px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  color: #070707;
}
.product-list {
  background-color: #ffffff;
  letter-spacing: 30px;
  text-align: center;
    
}

.skip {
  background-color: #ffffff;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #070707;
  margin-top: -30px;
  margin-bottom: 30px;

}

.abm {
  font-family: Open Sans;
  font-size: 34px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  color: #070707;

}

.abm p {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #070707;

}

.denis {
  font-family: Open Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
  color: #070707;

}

.reebok-store {
  margin-bottom: 70px;
}